<!DOCTYPE html>
<html land="en">
    <head>
        <title>[Sitetitle] | [Pagetitle]</title>
        {% load static %}
        <meta charset="utf-8"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="{% static 'electreeksspy/css/main.css' %}">
        <link rel="stylesheet" media="screen and (min-width: 1025px)" href="{% static 'electreeksspy/css/desktop.css' %}">
        <link rel="stylesheet" media="screen and (max-width: 1024px)" href="{% static 'electreeksspy/css/mobile.css' %}">
        <script type="text/javascript" src="{% static 'electreeksspy/js/userstream.js' %}"></script>
    </head>
    <body>
        <header id="header">
            <nav class="navbar">
                <div class="flex-container">
                    <div class="header-left-wrap">
                        <a class="navbar-brand" href="#">
                            <img src="{% static 'electreeksspy/img/Logo_300×300_Electreeks_rework.png' %}" width="60" height="60" alt="Electreeks_logo" loading="lazy">
                        </a>
                    </div>
                    <div class="header-left-wrap">
                        <h1 class="headertitle electreeksspytitle">Electreeks [Pagetitle]</h1>
                        <h2 class="headersubtitle electreeksspysubtitle">Spy [Sitetitle]</h2>
                    </div>
                </div>
            </nav>
        </header>
        <div class="page-container">
            <div class="content-wrap">
                <div class="flex-container">
                    <div id="main-leftcontainer-stream">
                        <!-- <img id="InStream" src="{% static 'electreeksspy/img/dummybild.jpg' %}" width="100%"/> -->
                        <video autoplay="true" id="userStream" poster="{% static 'electreeksspy/img/dummybild.jpg' %}" width="100%">
                    </div>
                    <div id="main-rightcontainer-objectmodels">
                        <h4>recognized object</h4>
                        <p id="js_page_refresher">{{ recognized_object }}</p>
                    </div>
                </div>
            </div>
            <footer id="footer" class="flex-container">
                    <div class="footer-column">
                        Hallo
                    </div>
                    <div class="footer-column">
                        Hallo
                    </div>
                    <div class="footer-column">
                        Hallo
                    </div>

            </footer>
        </div>

    </body>
</html>
