/* -------------------- */
/* ------ Desktop ----- */
/* -------------------- */

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: inherit;

}
.flex-container > div {
        background-color:inherit;
        margin: 3px;
        padding-top: 5px;
        font-size: medium;
}

/* -- Header Desktop -- */
/* -------------------- */


/* -- Footer Desktop -- */
/* -------------------- */


.footer-column {
    width: 33%;
}

/* -- Content Desktop - */
/* -------------------- */

#page-container {
    position: relative;
    min-height: 50vh;
}

#content-wrap {
    padding-top: 5px;       /* 2) */
    padding-bottom: 70px;   /* 1) Footer height + 2) padding-top offset */
}



/* ----------------------- */
/* Styles for single pages */
/* ----------------------- */

/* Home - Stream + Objectmodels */

#main-leftcontainer-stream {
    width: 65%;
}
#main-rightcontainer-objectmodels {
    width: 45%;
}
