/* -------------------- */
/* ------ Mobile ------ */
/* -------------------- */


/* --- Header Mobile -- */
/* -------------------- */


/* --- Footer Mobile -- */
/* -------------------- */

.footer-column {
    width: 100%;
}


/* -- Content Mobile -- */
/* -------------------- */

.flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color: inherit;

}
.flex-container > div {
        background-color:inherit;
        margin: 3px;
        padding-top: 5px;
        font-size: smaller;
}

/* electreeksspy Mobile */

#main-leftcontainer-stream {
    width: 100%;
}
#main-rightcontainer-objectmodels {
    width: 100%;
}
